const config = {
  addresses: {
    ETH: [
    ],
    BTC: [
    ],
  },
  exchanges: {
    huobipro: {
      apiKey: "",
      secret: "",
    },
    binance: {
      apiKey:
        "",
      secret:
        "",
    },
  },
};

module.exports = config;
